<body class="top-page">
  <div class="top-page-container">
    <h1>Ramen sounds</h1>
    <p>
      <%= link_to 'ログインページへ', login_path %>
    </p>
    <p>
      <%= link_to '会員登録はこちらから', new_user_path %>
    </p>
  </div>
</body>