<div class="top-page">
  <div class="top-page-container">
    <h1>Ramen sounds</h1>
    <p>
      <%= link_to 'ログインページ →', login_path, class: "login-link"%>
    </p>
    <p>
      <%= link_to 'アカウントお持ちでない方 →', new_user_path, class: "signup-link"%>
    </p>
  </div>
</div>