<div class="store-map-container">
  <div id="store-map" data-latitude="<%= @ramen_shop&.latitude || @ramen_shop_data['geometry']['location']['lat'] %>" 
                    data-longitude="<%= @ramen_shop&.longitude || @ramen_shop_data['geometry']['location']['lng'] %>"></div>
</div>
