<%= form_with(url: ramen_shops_path, method: :get, local: true, html: { class: "search-form" }) do |f| %>
  <div class="form-group">
    <%= f.text_field :keyword, value: params[:keyword], placeholder: "店舗名を入力してください", class: "form-control" %>
    <%= f.submit "検索", class: "btn btn-primary search-btn" %>
  </div>
<% end %>