<% if @ramen_shops.any? %>
  <ul class="videos-list">
    <% @ramen_shops.each do |video| %>
      <li class="tag-videos">
        <video width="600" controls>
          <source src="<%= video.file.url %>" type="video/mp4">
          お使いのブラウザでは動画が再生できません。
        </video><br>
        <span><%= video.tag_list %></span>
      </li>
    <% end %>
  </ul>
  <%= paginate @ramen_shops, theme: 'bootstrap-5' %>
<% else %>
  <% if params[:keyword].present? && params[:keyword].strip != "" %>
    <p class="search-message">検索結果がありません</p>
  <% end %>
<% end %>