<%= link_to @link_url + "?from_video_form=#{params[:from_video_form]}" do %>
  <p class='back-button'>＜ 戻る</p>
<% end %>

<div id="map-container">
  <div class="shop-name-container">
    <h2 class="shop-name"><%= @ramen_shop&.name || @ramen_shop_data['name'] %></h2>
  </div>
  <div id="store-map" data-latitude="<%= @ramen_shop&.latitude || @ramen_shop_data['geometry']['location']['lat'] %>" 
                    data-longitude="<%= @ramen_shop&.longitude || @ramen_shop_data['geometry']['location']['lng'] %>"></div>
</div>
