<footer>
  <p>© 2024 Ramen sounds</p>
  <%= link_to t('views.shared.footer.terms'), terms_of_service_path %>
  <%= link_to t('views.shared.footer.privacy'), privacy_path %>
  <%= link_to t('views.shared.footer.contact'), 'https://docs.google.com/forms/d/e/1FAIpQLSf97QqpoGi7Ove5fvRIG8B6p5GC5BWVj2UkdH8WL8tzP8trPg/viewform?usp=sf_link' %>
</footer>