<header>
    <div class="header-container">
      <div class="logo">
        <h1><%= link_to 'Ramen sounds', videos_path %></h1>
      </div>
      <nav class="nav-links">
        <%= link_to 'è¦‹ã¤ã‘ã‚‹ðŸ”', ramen_shops_path, class: 'nav-link' %>
        <%= link_to 'æ–°è¦å‹•ç”»ä½œæˆ', new_video_path, class: 'nav-link' %>
        <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', logout_path, class: 'nav-link', data: { turbo_method: :delete } %>
      </nav>
    </div>
</header>