<header>
    <div class="header-container">
      <div class="custom-logo">
        <h1><%= link_to 'Ramen sounds', videos_path %></h1>
      </div>
      <nav class="custom-nav-links">
        <%= link_to '見つける', ramen_shops_path, class: 'custom-nav-link' %>
        <%= link_to '動画投稿', new_video_path, class: 'custom-nav-link' %>
        <%= link_to 'ログアウト', logout_path, class: 'custom-nav-link', data: { turbo_method: :delete } %>
      </nav>
    </div>
</header>