<div id="loading-video" style="display:none;">
  <div class="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading Video...</p>
    </div>
  </div>
</div>
