<div id="loading-location" style="display:none;">
  <div class="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading Location...</p>
    </div>
  </div>
</div>
