/* Bootstrap のスタイル */
@import "bootstrap/dist/css/bootstrap.min.css";

/* AdminLTE のスタイル */
@import "admin-lte/dist/css/adminlte.min.css";

/* カスタムスタイル */
@import "./custom-admin.css";

@import "@fortawesome/fontawesome-free/css/all.min.css";

aside.main-sidebar.sidebar-dark-primary {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: #fff;
  overflow-y: auto;
  z-index: 1030;
}

.content-wrapper {
  margin-left: 250px;    /* サイドバーの幅に合わせる */
}

.sidebar {
  overflow-y: auto;      /* サイドバー内のスクロールを可能にする */
}