.comment-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 260px; /* コメント欄の幅を指定 */
  height: 350px; /* 全体の高さに合わせる */
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 80px;
}
  
.comment-section-header {
  position: sticky; /* スクロールに応じて固定 */
  top: 0; /* 親要素の上端に固定 */
  display: flex; /* 要素を横並びにする */
  justify-content: flex-end;
  z-index: 1;
}
  
.close-comment-section {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
  
.comment-list {
  height: calc(100% - 60px); /* コメント入力フォームの高さを差し引いてリストの高さを設定 */
  overflow-y: auto;
}
  
.comment-form-container {
  position: sticky;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
}
  
.comment-form {
  display: flex;
  align-items: center;
  gap: 10px; /* フォームとボタンの間隔 */
}

.comment-form-container .comment-form input[type="text"] {
  height: 30px; /* テキストフィールドの高さを指定 */
  width: 100%;
  padding: 5px; /* 内側の余白を調整 */
  font-size: 14px; /* フォントサイズを小さく */
}

.comment-form-container .submit-button {
  height: 30px; /* ボタンの高さを指定 */
  padding: 5px 10px; /* ボタンの内側の余白を調整 */
  font-size: 14px; /* フォントサイズを小さく */
  background-color: #7cb2f9;
  border-radius: 5px;
  border: none;
  color: white;
}

.comment-form-container .submit-button:hover {
  background-color: #5997fc;
}

.comment {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center; /* 縦方向の中央に揃える */
  margin-bottom: 10px; /* コメント間の余白 */
}

.comment-content {
  flex-grow: 1; /* コンテンツ部分をできるだけ広げる */
  margin-top: 5px;
}

.comment-actions {
  margin-left: 10px; /* 削除アイコンとコメント内容の間に余白を追加 */
  margin-bottom: 5px;
}

.delete-comment-link i {
  cursor: pointer; /* アイコンをクリック可能にする */
  font-size: 1.2em; /* アイコンのサイズを調整 */
}

@media (max-width: 768px) {
  .comment-section {
    top: -45px;
    right: -90px;
    height: 290px;
    width: 190px;
  }

  .custom-placeholder::placeholder {
    font-size: 10px !important; /* フォントサイズを小さく */
    color: #888 !important;
  }

  .custom-placeholder::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    font-size: 10px !important;
    color: #888 !important;
  }
}