footer {
  background-color: #4a5285;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a,
footer p {
  margin: 0 30px; /* リンクの間隔を設定 */
  text-decoration: none; /* 下線をなくす */
  color: white; /* リンクの色を白に設定 */
}

@media (max-width: 768px) {
  footer {
    height: 65px;
    padding: 10px 0;
  }

  footer a,
  footer p {
    font-size: 13px;
    margin: 0  16px;
  }
}