header {
  padding: 20px 20px;
  width: 100%;
  top: 0;
  z-index: 1000;
}
  
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
  
.custom-logo h1 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

.header-container .custom-logo h1 a {
  color: black !important;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

.custom-nav-links {
  display: flex;
  justify-content: center;
}
  
.custom-nav-link {
  font-size: 15px;
  color: black;
  font-weight: 100;
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none;
}
  
.custom-nav-link:hover,
.header-container .custom-logo h1:hover {
  background-color: rgba(246, 250, 249, 0.5);
  border-radius: 10px;
}

.flash-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.flash-notice {
  background-color: #5061c1; /* 成功メッセージの背景色 */
  color: #f3f7f4; /* 成功メッセージの文字色 */
}

.flash-alert {
  background-color: #e6f765; /* 警告メッセージの背景色 */
  color: #1c1b1c; /* 警告メッセージの文字色 */
}

.flash-error {
  background-color: #fb4557; /* エラーメッセージの背景色 */
  color: #f7f4f5; /* エラーメッセージの文字色 */
}