header {
  padding: 20px 20px;
  width: 100%;
  z-index: 1000;
}
  
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
  
.custom-logo h1 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
}

.header-container .custom-logo h1 a {
  color: black !important;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

.custom-nav-links {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
  
.custom-nav-link {
  font-size: 15px;
  color: black;
  font-weight: 100;
  padding: 0 5px;
  margin-right: 10px;
  text-decoration: none;
}

.custom-nav-link,
.header-container .custom-logo h1 {
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
}
  
@media (min-width: 768px) {
  .custom-nav-link:hover {
    background-color: rgba(7, 76, 146, 0.3);
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 0 0 10px rgba(7, 76, 146, 0.3);
  }
}

.header-container .custom-logo h1:hover {
  background-color: rgba(7, 76, 146, 0.3);
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 0 0 10px rgba(7, 76, 146, 0.3);
}

.flash-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.flash-notice {
  background-color: #5061c1; /* 成功メッセージの背景色 */
  color: #f3f7f4; /* 成功メッセージの文字色 */
}

.flash-alert {
  background-color: #e6f765; /* 警告メッセージの背景色 */
  color: #1c1b1c; /* 警告メッセージの文字色 */
}

.flash-error {
  background-color: #fb4557; /* エラーメッセージの背景色 */
  color: #f7f4f5; /* エラーメッセージの文字色 */
}

.menu-toggle-checkbox {
  display: none;
}

/* ハンバーガーボタンのスタイル */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 25px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: black;
}

/* メニューの表示制御 */
.custom-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex; /* スマホでハンバーガーメニューを表示 */
  }

  .custom-nav-links {
    display: none; /* 初期状態では非表示 */
    flex-direction: column; /* 縦並び */
    position: absolute;
    top: 65px;
    right: 0;
    background-color: white;
    width: 40%;
    z-index: 1000;
    border-radius: 5px;
  }

  /* チェックされたらメニューを表示 */
  .menu-toggle-checkbox:checked + .hamburger-menu + .custom-nav-links {
    display: flex;
  }

  .custom-nav-link {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 90%;
    text-align: center;
  }

  .custom-logo h1 {
    font-size: 25px;
    margin-left: 0;
  }

  header {
    padding: 10px 5px;
  }
}
