.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

@media (min-width: 768px) {
  .map-container {
    height: 100vh;
    padding-bottom: 50px;
  }

  .store-map-container {
    margin-top: 15px;
  }
}

.store-map-container {
  align-items: center;
  justify-content: center;
  width: 100%;
}

#store-map,
#user-map,
#location-map {
  height: 500px;
  width: 100%;
  max-width: 2000px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  #user-map,
  #location-map {
    height: 650px;
    width: 100%;
    max-width: 768px; /* 必要に応じて最大幅を設定 */
    padding-bottom: 0;
  }

  #store-map {
    height: 300px;
    margin-top: 15px;
  }
}