.user-profile {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 100%;
}

.user-profile-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0 auto;
  text-align: center;
}

.user-page-container {
  width: 80%; /* 必要に応じて調整 */
  max-width: 600px; /* 最大幅を指定して中央に収める */
}

.profile-avatar-image {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-links {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .profile-links .custom-nav-link {
    font-size: 20px;
  }

  .user-tabs {
    font-size: 20px;
  }
}

.user-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.tab-link {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.tab-link:hover {
  transition: color 0.3s ease, transform 0.5s ease;
  color: rgb(48, 72, 152);
}

.tab-link.active {
  background-color: #3773b3;
  color: white;
  border-radius: 5px;
}

.tab-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}

.tab-content {
  display: none;
  width: 100%;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.video-item {
  position: relative;
  width: 100%; /* 親要素の幅に応じて拡張する */
  max-width: 350px; /* 最大幅を設定（必要に応じて調整） */
  margin-right: 20px;
  max-height: 300px;
}

.video-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}

.video-fixed-size {
  width: 100%; /* video-itemの幅いっぱいに */
  height: 300px; /* 高さを固定 */
  object-fit: contain; /* アスペクト比を保持しつつ中央に配置 */
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-video-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  height: 215px;
  position: absolute;
  right: 5px;
  bottom: 40px;
}

@media (min-width: 768px) {
  .mypage-video-details {
    background: rgba(253, 253, 253, 0.7);
    border-radius: 3px;
  }
}

.edit-icon, .delete-icon {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.edit-icon:hover, .delete-icon:hover {
  color: #6ad2fb;
}

@media (max-width: 768px) {
  .video-item {
    max-width: 180px;
    margin-right: 0;
  }

  .mypage-video-details {
    width: 40px;
  }

  .user-profile-edit {
    min-height: 70vh;
  }
}