.user-profile {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  max-width: 1000px;
  width: 100%;
}

.profile-avatar-image {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid black;
}

.profile-links {
  margin-bottom: 20px;
}

.user-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.tab-link {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.tab-link:hover {
  transition: color 0.3s ease, transform 0.5s ease;
  color: rgb(48, 72, 152);
}

.tab-link.active {
  background-color: #3773b3;
  color: white;
  border-radius: 5px;
}

.tab-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab-content {
  display: none;
  width: 100%;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.video-item {
  position: relative;
  max-width: 250px;
  margin-right: 70px;
  display: flex;
  margin-bottom: 10px;
}

.video-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}

.video-fixed-size {
  width: 300px;
  height: 250px;
  object-fit: contain; /* アスペクト比を保持して、余白は黒にする */
  background-color: black; /* 余白部分を黒く表示 */
  border-radius: 5px;
}

.profile-video-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 5px;
}

.edit-icon, .delete-icon {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.edit-icon:hover, .delete-icon:hover {
  color: #6ad2fb;
}