.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 77vh;
}
  
.search_container form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
  
.search_container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}
  
.search_container li {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
  
.search_container li span {
  font-size: 0.9em;
  color: #555;
}

.search-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.search-form .custom-form-group {
  display: flex;
  gap: 10px;
}
  
.custom-form-control {
  width: calc(100% - 83px);
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
  
.search-form .search-btn {
  flex-shrink: 0;
  white-space: nowrap;
  padding: 10px 20px;
  height: auto;
}

.ramen-shop-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
}

.ramen-shop-details h1 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.ramen-shop-details p {
  width: 100%;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

.ramen-shop-details .hours-label { 
  width: 100%;
  font-size: 1.2em;
  border-bottom: none; 
  margin-bottom: 0 !important;
}

.ramen-shop-details .hours-list {
  width: 100%;
  padding-left: 0;
  list-style: none;
  font-size: 1.2em;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  margin-top: 0 !important;
}

.ramen-shop-details .hours-list ul {
  margin-top: 0 !important;
}

.ramen-shop-details .hours-list li {
  padding-left: 20px;
  text-indent: -20px;
}

.back-button {
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 15px;
  font-weight: 100;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
}

.back-button:hover {
  background-color: rgba(187, 188, 188, 0.3);
  box-shadow: 0 0 0 10px rgba(187, 188, 188, 0.3);
}

.shop_name {
  text-align: center !important;
  line-height: 1;
}

.select-shop-link {
  background-color: #e65b85;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  text-decoration: none;
}

.select-shop-link:hover {
  background-color: #e33b6d;
  text-decoration: none;
}

.videos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.videos-section h2 {
  text-align: center;
}

.videos-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-videos {
  text-align: center;
  margin: 10px;
}

.tag-videos video {
  width: 800px !important;
  height: auto !important;
  max-width: 100% !important;
}

.videos-list li {
  margin: 10px;
}

.videos-list video {
  display: block;
  width: 320px;
  height: 180px;
  border-radius: 5px;
}

.videos-section p {
  width: 100%;
  max-width: 1200px;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #0259b7;
  transition: color 0.5s ease;
}

.tab:hover {
  text-decoration: none;
  color: #87c4fc;
}

.tab.active {
  border-bottom: 2px solid #9da4aa;
  font-weight: bold;
  margin-bottom: 20px;
}

.tag-videos {
  justify-content: center;
}

.search-message {
  margin-top: 40px;
}

.search-ramen-shop {
  padding: 5px 50px;
}