.top-page {
  position: relative; /* 相対位置に設定 */
  z-index: 1; /* 背景より前面に表示 */
  background-color: rgba(255, 255, 255, 0.7); /* 背景を半透明にして視認性を高める */
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out; /* フェード効果 */
}

#background-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0; /* 初期状態は透明 */
  transition: opacity 1s ease-in-out; /* フェードアニメーション */
  z-index: 0; /* 背景用 */
}

.background-image.active {
  opacity: 1; /* 表示される要素 */
}
  
.top-page-container,
.user-page-container {
  position: relative; /* 背景と独立して配置 */
  z-index: 1; /* 背景より前面に表示 */
  background-color: rgba(255, 255, 255, 0.7); /* 背景を半透明にして視認性を高める */
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin: auto; /* 中央に配置 */
}
  
.top-page-container h1 {
  font-size: 4.8em;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(79, 77, 77);
}

.top-page-container h2 {
  font-size: 3em;
  margin-bottom: 20px;
  color: rgb(79, 77, 77);
}

.login-link,
.signup-link,
.password-reset-link,
.scroll-link {
  color: rgb(50, 91, 135);
  text-decoration: none;
}

h1 {
  font-family: 'Merriweather', serif;
}

.login-page .top-page-container h2,
.signup-page .top-page-container h2,
.edit-profile h2 {
  font-size: 3.3em;
}

p {
  margin: 10px 0;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.mb-3 {
  margin-bottom: 5px;
  text-align: center;
}
  
.mb-3 label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}
  
.mb-3 input {
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.user-form-control {
  width: 70%;
}
  
.btn-primary {
  background-color: #7cb2f9;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
  
.btn-primary:hover {
  background-color: #5997fc;
}

.text-center {
  margin-top: 10px;
}

#avatar-preview {
  display: none;
  margin: 10px auto;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.terms_container {
  max-width: 850px;
  margin: 10px auto;
  padding: 30px 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.terms_container h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.terms_container h2 {
  font-size: 1.5em;
  color: #4a5285;
  margin-top: 30px;
  margin-bottom: 10px;
}

.terms_container p {
  margin-bottom: 20px;
  color: #555;
}

.terms_container ul {
  margin-left: 20px;
  margin-bottom: 20px;
  list-style-type: disc;
}

.terms_container ul li {
  margin-bottom: 10px;
}

.how-to-use h1 {
  font-size: 3em;
  color: #4f4d4d;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.how-to-use {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  max-width: 1100px;
  margin: 20px auto;
  text-align: center;
}

.how-to-use h2 {
  font-size: 2em;
  color: rgb(79, 77, 77);
  margin-bottom: 15px;
}

.how-to-use p,
.how-to-use ul {
  font-size: 1.2em;
  color: rgb(79, 77, 77);
  margin-bottom: 0 !important;
}

.how-to-use ul {
  list-style-type: none;
  padding: 0;
  counter-reset: li;
  margin-top: 30px;
}

.how-to-use li {
  position: relative;
  font-size: 25px;
  color: #2671c0;
}

.how-to-use ul p {
  font-size: 17px;
  color: #2671c0;
}

.how-to-use a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #2671c0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.how-to-use a:hover {
  background-color: #143f71;
}

.screenshot {
  width: 70%;
  margin-bottom: 30px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.screenshot:hover {
  transform: scale(1.05);
}

.google-login-wrapper .google-login-btn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.google-login-wrapper .google-login-btn:hover {
  background-color: #f0f0f0;
  color: #000000;
}

.google-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .top-page {
    font-size: 15px;
    padding: 10px;
  }

  .top-page-container h1 {
    font-size: 2.5em;
  }

  .top-page-container h2 {
    font-size: 2em;
  }

  p {
    font-size: 15px;
  }

  .google-login-wrapper a {
    font-size: 15px;
  }

  .user-form-control {
    width: 90%;
  }

  .btn-primary {
    font-size: 1em;
    padding: 8px 16px;
  }

  .how-to-use {
    padding: 20px;
    max-width: 768px;
  }

  .how-to-use h1 {
    font-size: 2em;
  }

  .how-to-use h2 {
    font-size: 1.5em;
  }

  .how-to-use p, .how-to-use ul {
    font-size: 0.9em;
  }

  .screenshot {
    width: 90%;
  }

  .terms_container {
    max-width: 768px;
    padding: 30px 20px;
  }
  
  .terms_container h1 {
    font-size: 1.6em;
  }
  
  .terms_container h2 {
    font-size: 1.2em;
  }
}
