.top-page, .login-page, .signup-page {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('AdobeStock_343708014.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.top-page-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 80%;
}
  
.top-page-container h1 {
  font-size: 4.8em;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Merriweather', serif;
  color: rgb(79, 77, 77);
}

.login-link,
.signup-link {
  color: rgb(16, 96, 180);
  text-decoration: none;
}

h1 {
  font-family: 'Merriweather', serif;
}

.login-page .top-page-container h2 {
  font-size: 3.3em;
}

.signup-page .top-page-container h2 {
  font-size: 3.3em;
}

p {
  margin: 10px 0;
  font-size: 18px;
}
  

  
a:hover {
  text-decoration: underline;
}

.mb-3 {
  margin-bottom: 20px;
  text-align: center;
}
  
.mb-3 label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}
  
.mb-3 input {
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.user-form-control {
  width: 70%;
}
  
.btn-primary {
  background-color: #7cb2f9;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
  
.btn-primary:hover {
  background-color: #5997fc;
}

.text-center {
  margin-top: 15px;
}

#avatar-preview {
  margin-top: 10px;
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}